#contato > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita Swashed", sans-serif;
}

body#contato {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, #fff 0%, #fd82a1 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#contato .container {
  width: 85%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#contato .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contato .container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255, 246, 246);
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #4b2e35;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #5a5254;
  font-family: "Satoshi", sans-serif;
}

#contato .container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #4b2e35;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #ececec;
  font-family: "Satoshi", sans-serif;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #4b2e35;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #fd82a1;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #e4d7d9;
}

@media (max-width: 950px) {
  #contato .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  #contato .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  #contato .container {
    margin: 40px 0;
    height: 100%;
  }
  #contato .container .content {
    flex-direction: column-reverse;
  }
  #contato .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  #contato .container .content .left-side::before {
    display: none;
  }
  #contato .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
