.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 40px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header a {
  color: #1b1517;
  font-size: 1.15rem;
  padding: 16px 0px;
  display: block;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #1b1517;
  display: block;
  margin-top: 2px;
  transition: .3s;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu-user {
  display: none;
  gap: 8px;
}

#home .header-menu-user {
  display: flex;
}

.header-menu-user a {
  padding-right: 6px;
  padding-left: 6px;
}

.header-menu-user a:hover {
  transform: scale(1.2);
}

.header-menu-user img {
  width: 24px;
  height: 24px;
}

.sacola-icone {
  position: relative;
}

.sacola-icone::before {
  content: attr(data-content);
  width: 16px;
  height: 16px;
  padding: 1px;
  display: flex;
  border-radius: 50%;
  background-color: #4b2e35;
  color: #fedee6;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  position: absolute;
  top: 12px;
  right: -2px;
}

@media (max-width: 640px) {
  .header {
    grid-template-columns: 1fr auto;
    gap: 16px;
  }
  .header-menu-user {
    grid-row: 1;
    grid-column: 2;
  }
  nav {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 16px;
    background-color: #fd82a1;
    border-radius: 8px;
    font-size: 1rem;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #fd91ac;
  }
}