.introducao {
  padding-top: 80px;
  display: grid;
  column-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:'texto texto imagem'
                      'produto produto imagem'
                      '....... ....... imagem';
  row-gap: 48px
}

.introducao h1 {
  color: #1B1517;
  max-width: 20ch; 
}

.introducao p {
  color: #4B2E35;
}

.introducao span {
  display: block;
  font-weight: 600;
}

.introducao-texto {
  grid-area: texto;
}

.imagem-sorvetes-background {
  margin-top: -60px;
  grid-area: imagem;
}

.imagem-sorvetes-background img {
  width: 100%;
}

.produtos-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 480px;
}

.produto-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0px 0px 2px #00000040;
  transition: background-size .3s;
}

@media (max-width: 960px) {
  .introducao {
    padding-top: 0px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:'texto texto imagem'
                      'produto produto imagem';
  }
  .introducao-texto {
    align-self: end;
  }
  .produtos-area {
    grid-template-rows: 360px;
  }
  .imagem-sorvetes-background {
    margin-top: 10px;
  }
}

@media (max-width: 840px) {
  .produtos-area {
    grid-template-rows: 240px;
    gap: 20px;
  }
}

@media (max-width: 690px) {
  .imagem-sorvetes-background {
    display: none;
  }
  .introducao {
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
}