.introducao {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:'texto texto imagem'
                      'produto produto imagem'
                      '....... ....... imagem';
  row-gap: 48px
}

.introducao h1 {
  color: #1B1517;
  max-width: 20ch; 
}

.introducao p {
  color: #4B2E35;
}

.introducao-texto {
  grid-area: texto;
}

.imagem-sorvetes-background {
  grid-area: imagem;
  margin-top: -40px;
  margin-right: -120px;
}

.imagem-sorvetes-background img {
  width: 100%;
}

.produtos-area img {
  width: 100%;
}