.parceiros {
  margin-bottom: 100px;
}

.parceiros-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.parceiros-lista img {
  max-width: 160px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #00000040;
}

@media (max-width: 690px) {
  .parceiros {
    margin-bottom: 60px;
  }
  .parceiros h2 {
    margin-bottom: 32px;
  }
  .parceiros-lista {
    gap: 20px;
  }
  .parceiros-lista img {
    max-width: 80px;
  }
}
